.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
}

.page-footer {
  position: relative;
  margin: 6em 0 0 0;
  padding: 3em 0;
  text-align: center;

  @include media(medium) {
    &:before {
      background: url('/assets/waves-pattern-6.svg') top left no-repeat;
      background-size: 100% 230%;
      content: '';
      width: 50%;
      height: 50%;
      position: absolute;
      z-index: -1;
      left: 65%;
      top: 50%;
    }
  }
}
