$column-width: 30em;

$serif-stack: 'Bitter', serif;
$sans-stack: 'Jost', sans-serif;
$mono-stack: 'RobotoMono', monospace;

$font-base-small: 1.6em;
$font-base-medium: calc(1em + 0.55vw);
$font-base-large: 1.8em;

$font-xxx-small: 0.55em;
$font-xx-small: 0.65em;
$font-x-small: 0.75em;
$font-small: 0.85em;
$font-medium: 1em;
$font-large: 1.125em;
$font-x-large: 1.25em;
$font-xx-large: 1.75em;
$font-xxx-large: 2.25em;
$font-xxxx-large: 3em;

$color-white: #FFF;
$color-black: #000;
$color-accent: #FFE801;
$color-tint: #FBF7F0;
$color-brand: #D946EF;

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin transform($attrs) {
  -webkit-transform: $attrs;
     -moz-transform: $attrs;
      -ms-transform: $attrs;
          transform: $attrs;
}

@mixin transition($attrs...) {
  -webkit-transition: $attrs;
     -moz-transition: $attrs;
      -ms-transition: $attrs;
          transition: $attrs;
}

@mixin clearfix {
  zoom: 1;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.clearfix { @include clearfix; }

@mixin media($query) {
  @if $query == small {
    @media(max-width: 39.99em) { @content; }
  } @else if $query == medium {
    @media(min-width: 40em) { @content; }
  } @else if $query == large {
    @media(min-width: 66em) { @content; }
  } @else if $query == x-large {
    @media(min-width: 90em) { @content; }
  } @else {
    @media(#{$query}) { @content; }
  }
}

@mixin retinafy($image, $width, $height) {
  @media(min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}
