<a class="nav-logo" href="/" aria-label="Hotwire Native">
  {% include svg/hotwire-native-logo.svg %}
  <span>Native</span>
</a>

<input type="checkbox" id="hamburger" class="nav-checkbox"/>
<label class="nav-mobile-button" for="hamburger"><span></span> Menu</label>

<nav class="nav">

  <label class="nav-mobile-button nav-mobile-button--close" for="hamburger"><span></span> close</label>

  <ul class="nav__list {% if type == "horizontal" %} nav__list--horizontal{% endif %}">
    <li>
      <a class="nav__list-link{% if section_title == "Overview" %} active{% endif %}" href="/overview/how-it-works">Overview</a>

      {% include section-nav.html, section: "overview" %}
    </li>
    <li>
      <a class="nav__list-link{% if section_title == "iOS" %} active{% endif %}" href="/ios/getting-started">iOS</a>

      {% include section-nav.html, section: "ios" %}
    </li>
    <li>
      <a class="nav__list-link{% if section_title == "Android" %} active{% endif %}" href="/android/getting-started">Android</a>

      {% include section-nav.html, section: "android" %}
    </li>
    <li>
      <a class="nav__list-link{% if section_title == "Reference" %} active{% endif %}" href="/reference/navigation">Reference</a>

      {% include section-nav.html, section: "reference" %}
    </li>
    <li>
      <a class="nav__list-link" href="{{ site.discourse_url }}" title="Have a question? Connect with other developers on the Hotwire Discourse community forum.">Community</a>
    </li>
  </ul>

</nav>
